<main>
    {{#if newslinks}}
    <ul class="newslinks">
        {{#each newslinks}}
        <div class="card">
            <div class="card-content">
                <a class="card-title" href="/newslink/{{id}}">
                    {{ title }}
                </a>
            </div>
            <div class="url">{{urlLink}}</div>
            <div class="card-action">
                <div class="text">{{ description }}</div>
                <div class="link_date">{{ createdAt }}</div>
            </div>
        </div>
        {{/each}}
    </ul>
    {{/if}}
</main>