<main>
    <div class="row">
        <h3>New News Link!</h3>
        <form action="/newslink" method="post" class="col s12"></form>
        <div class="row">
            <div class="title-field col s12">
                <input name="title" placeholder="Enter Title" id="Title" type="text" class="validate">
                <label for="Title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="Url-field col s12">
                <input name="urlLink" placeholder="Enter News Link" id="Newslink" type="text" class="validate">
                <label for="newsLink">News Link</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="description" id="Description" type="text" class="validate">
                <label for="description">Enter Short Description</label>
            </div>
        </div>
        <div class="input-field">
            <input class="btn" type="submit" value="Submit">
        </div>
        </form>
    </div>


    {{#if newslinks}}
    <ul class="newslinks">
        {{#each newslinks}}
        <div class="card">
            <div class="card-content">
                <a class="card-title" href="/newslink/{{id}}">
                    {{ title }}
                </a>
            </div>
            <div class="url">{{urlLink}}</div>
            <div class="card-action">
                <div class="text">{{ description }}</div>
                <div class="link_date">{{ createdAt }}</div>
            </div>
        </div>
        {{/each}}
    </ul>
    {{/if}}
</main>